.header {
	width: 100vw;
	height: 10vh;
	background-color: var(--color-primary);
	display: flex;
	align-items: center;
  }

  .header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
  }
  
  .header__title {
	color: var(--color-white);
	font-size: 1.5rem;
  }

  .header__links {
	margin-right: 10rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
  }
  
  .header__links ul{
	display: flex;
	gap: 1rem;
	color: var(--color-white)
  }

  /* hamburger menu */
.uil-bars {
	color: var(--color-white);
	font-size: 2rem;
	display: none;
}

@media screen and (max-width: 600px) {
	.uil-bars {
		display: block;
	}
	
}